
body {
    margin-left: 5% !important;
    margin-right: 5% !important;
    font-family: Verdana, sans-serif; margin:0
}
* {box-sizing: border-box}



.jumbotron {
    height: 300px;
    padding-top: 0px !important;
    padding-left: 25px !important;
    background-image: linear-gradient(to right, #bc7945,#f7c97e);
}

.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
#photoHeading {
    height: 300px;
    padding-top: 0px !important;
    padding-left: 25px !important;
    background-image: linear-gradient(to right, #bc7945,#f7c97e);
}

#header{
    height: 200px;
    margin-top: 30px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    background-image: linear-gradient(to right, #bc7945,#ff8f3a);
}

#header .row{
    padding-top: 25px !important;
}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.container {
    padding: 80px 120px;
  }
  .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
  }
  .person:hover {
    border-color: #f1f1f1;
  }
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.carousel-inner {
    height: 300px;
}
.carousel-inner .item {
    padding-left: 25% !important;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 320px) {
    .jumbotron {
        height: 150px;
    }
    .prev, .next,.text {font-size: 11px}
}

#header {
  display: block;
  background-color: #0088cc;
  color: white;
  margin-top: 75px;
}

#header-dp {
  display: contents;
  width: 300px;
  height: 300px;
  border: none;
  border-radius: 70%;
}

#header-dp img{
  border: none;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#header-details {
  padding:  20px;
}

#header-details p{
  font-weight: 300;
}

#contact {
  margin-top: 5% !important;
  background-image: linear-gradient(to right, #bc7945,#ff8f3a);
  color: black;
}

footer {
  background-color: black;
  color: white;
}

.well {
  background-image: linear-gradient(to right, #bc7945,#ff8f3a) !important;  
}