body {
    margin-left: 5% !important;
    margin-right: 5% !important;
}

.jumbotron {
    background-image: url("../images/backgroundimage1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}


@media only screen and (max-width: 320){
    .jumbotron {
        background-image: url("../images/backgroundimage1small.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}