
body {
    margin-left: 5% !important;
    margin-right: 5% !important;
    font-family: Verdana, sans-serif; margin:0
}
* {box-sizing: border-box}

.navbar {
  margin-bottom: 0;
  height: 60px !important;
  background-color: #222222;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}

.navbar-nav {
  margin-top: 0px !important
  ;
}

.navbar .container {
  padding-left: 5% !important;
  padding-right: 5% !important;
  padding-top: 0% !important;
  padding-bottom: 0% !important;

}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
  background-color: #222222 !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #222222 !important;
  background-color: #fff !important;
}
.navbar-toggle {
  border-color: transparent;
  color: #222222 !important;
  background-color: #222222 !important;
}

.navbar .navbar-toggle .icon-bar {
  background-color: #fff !important;
}

.jumbotron {
    padding-top: 0px !important;
    padding-left: 25px !important;
    background-image: linear-gradient(to right, #bc7945,#ff8f3a);
    border: 3px solid black;
    border-radius : 0px 0px 25px 25px; 
}

#header {
  display: block;
  background-color: #0088cc;
  color: white;
  margin-top: 60px;
  padding-bottom: 10px !important;
}

#header-main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
} 

#header-dp {
  display: contents;
  border: none;
  border-radius: 70%;
}

#header-dp img{
  border: none;
  border-radius: 50%;
}

#header-details {
  padding:  20px;
}

#header-details p{
  font-weight: 300;
  font-size: 50px;
}

#content {
  padding: 20px ;
  border:2px solid #a8a8a8;
  background-color: #f8f8f8;
}


.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.container {
    padding: 80px 120px;
  }
  .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
  }
  .person:hover {
    border-color: #f1f1f1;
  }
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.carousel-inner {
    height: 300px;
}
.carousel-inner .item {
    padding-left: 25% !important;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 380px) {
    .navbar {
      height: 30px !important;
    }

    .jumbotron {
      margin-top: 50px !important;
    }
    .jumbotron .col-sm-3, .jumbotron .col-sm-6 {
      width: 90px !important;
      padding: 0px !important;
    }

    #header-dp img {
      height: 60px;
      width: 60px;
    }

    #header-details p {
      font-size: 20px;
    }
    .prev, .next,.text {font-size: 11px}
}



#contact {
  left: 0px !important;
  right: 0px !important;
  margin-top: 5% !important;
  background-image: linear-gradient(to right, #bc7945,#ff8f3a);
  color: black;
}

footer {
  width: 100% !important;
  background-color: black;
  color: white;
}

.well {
  background-image: linear-gradient(to right, #bc7945,#ff8f3a) !important;  
}